footer {
  background: #000;
  padding: em(50) 0;

  h4 {
    font-family: $headingFont;
    color: #fff;
    margin-bottom: em(10);
    letter-spacing: 0.05em;
    font-size: em(22);

    strong {
      font-weight: 400;
      color: #b5b9c0;
    }
  }

  p {
    color: #fff;
    font-size: em(14);
    line-height: 1.7;
  }

  .row {
    div[class*="col-"]:nth-child(2) {
      padding-left: 50px;
    }
  }

  .footer-about {
    figure {
      margin-bottom: 15px;
    }
  }

  .footer-social {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 25px;
        color: #fff;

        a {
          color: #fff;
          font-size: 28px;

          &:focus,
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .footer-contact {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        width: 100%;
        position: relative;
        padding-left: 30px;
        color: #fff;
        font-size: em(16);
        line-height: 1.7;
        margin-bottom: 8px;

        .fa {
          position: absolute;
          top: 5px;
          left: 0;
          color: #fff;

          &.fa-phone {
            top: 8px;
            font-size: 17px;
            left: 1px;
          }

          &.fa-map-marker {
            top: 6px;
            font-size: 24px;
            left: 2px;
          }
        }

        a {
          color: #fff;

          &:focus,
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .copyright {
    text-align: center;
    color: #fff;
    font-size: em(14);
    line-height: 1.7;

    a {
      color: #fff;

      &:focus,
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
