//Font Size in REM
@function rem($pxsize) {
  $baseFontREM: $value;
  @return ($pxsize/$baseFontREM)+rem;
}
//Font Size in EM
$baseFontEM: $value;
@function em($pixels, $context: $baseFontEM) {
  @return #{$pixels/$context}em;
}
//Letter Spacing
@function letterspacing-em($val) {
  @return ($val / 1000) * 1em;
}
@function letterspacing-rem($val) {
  @return ($val / 1000) * 1rem;
}
