header {
  display: block;
  padding: 12px 0 0;
  z-index: 999;
  position: relative;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      max-width: 75px;
    }

    .header-contact {
      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin-left: em(25);
          color: $fontColor;
          font-size: em(16);
          letter-spacing: 0.02em;

          a {
            color: $fontColor;

            .fa {
              @include circle(50px);
              background: #000;
              color: #fff;
              text-align: center;
              display: inline-block;
              line-height: 48px;
              vertical-align: middle;
              margin-right: em(4);

              &.fa-mobile {
                font-size: em(34);
              }

              &.fa-envelope {
                font-size: em(18);
              }
            }

            &:focus,
            &:hover {
              color: $grayColor;
            }
          }
        }
      }
    }
  }

  nav.navbar {
    background: #000;
    margin: em(12) 0 0;
    border: none;
    border-radius: 0;
    padding: 0;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navbar-collapse {
        ul,
        ul.navbar-nav {
          li,
          li.nav-item {
            display: inline-block;
            vertical-align: middle;

            a,
            a.nav-link {
              font-size: em(14);
              color: #fff;
              text-transform: uppercase;
              padding: em(15);
              letter-spacing: 0.02em;

              .fa-heart-o {
                font-size: em(18);
              }

              &:focus,
              &:hover {
                background: $grayColor;
                color: #000;
              }
            }

            &.active {
              a,
              a.nav-link,
              a.nav-link:hover,
              a:hover {
                background: $grayColor;
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}
