$bodyFont: 'Playfair Display', serif;
$bodyBgColor: #fff;
$bodyFontSize: 16px;
$value: 16;
$bodyWeight: 400; /** Paragraph Font Style **/
$font: 'Playfair Display', serif;
$headingFont: 'Abril Fatface', cursive;
$fontColor: #100f0f;
$normalFont: 400;
$boldFont: 700;
$blackFont: 900;
$grayColor: #b5b9c0;
$white: #fff;
$black: #000;
$red: #e24848;
/** Paragraph Font Style End **/
