@import 'plugins';
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'functions';

body {
  background: $bodyBgColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
  font-weight: $bodyWeight;
}
@media only screen and (min-width:925px) {
  .container {
    max-width: 895px;
  }
}

%h {
  font-family: $bodyFont;
  font-weight: $bodyWeight;
}

h1 {
  @extend %h;
  font-size: rem(52);
}

h2 {
  @extend %h;
  font-size: rem(36);
}

h3 {
  @extend %h;
  font-size: rem(28);
}

h4 {
  @extend %h;
  font-size: rem(22);
}

h5 {
  @extend %h;
  font-size: rem(20);
}

h6 {
  @extend %h;
  font-size: rem(18);
}

p {
  font-family: $bodyFont;
  line-height: 1.6;
  margin-bottom: 15px;
}

ul {
  margin: 0;
  padding: 0;

  li {
    display: block;
    list-style: none;
    font-family: $font;
  }
}

.btn {
  @include btn(em(13), $normalFont, $font, uppercase, 3);
}

.black-btn {
  background: #000;
  color: #fff;
  text-align: center;
  letter-spacing: 0.09em;
  box-shadow: 7px 8px 20px rgba(0, 0, 0,0);

  &:focus,
  &:hover {
    background: $grayColor;
    color: #000;
    box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.23);
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.gray-btn {
  background: #b5b9c0;
  color: #fff;
  text-align: center;
  letter-spacing: 0.09em;
  box-shadow: 7px 8px 20px rgba(0, 0, 0,0);

  &:focus,
  &:hover {
    background: $grayColor;
    color: #000;
    box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.10);
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.custom-btn-group {
  .btn {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
  }
}
@import 'header';

.banner {
  height: 480px;

  .carousel,
  .carousel-inner {
    position: relative;
    height: 100%;
  }

  .carousel-item {
    height: 100%;
    @include background;
    overflow: hidden;

    .container {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      z-index: 5;

      .banner-text {
        padding: em(21) em(40) em(30);
        background: #fff;
        position: relative;
        left: -350px;
        opacity: 0;
        @include transition;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50%;
          right: -10px;
          background: #fff;
          @include transition;
        }

        h1 {
          font-family: $headingFont;
          color: $fontColor;
          font-size: em(43);
          font-weight: normal;
          line-height: 1.2;
          margin-bottom: em(5);

          small {
            font-family: $headingFont;
            color: $grayColor;
            font-size: 100%;
            display: block;
          }
        }
      }
    }

    &.active {
      .banner-text {
        left: 0;
        opacity: 1;

        &:before {
          left: 100%;
          right: -10000px;
        }
      }
    }
  }

  .controls-container {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 52px;
    height: 52px;
    background: #fff;
    text-align: center;
    color: #6d6d6d;
    font-size: 38px;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;

    &:focus,
    &:hover {
      background: #000;
      color: #fff;
    }
  }

  .carousel-control-next {
    right: 13.5vw;
  }

  .carousel-control-prev {
    left: 13.5vw;
  }
}

.section,
section {
  padding: em(70) 0;

  h2 {
    font-family: $headingFont;
    font-size: em(40);
    text-transform: capitalize;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: em(8);

    strong {
      color: #b5b9c0;
      font-weight: inherit;
    }
  }

  p {
    font-size: em(14);
    letter-spacing: 0.02em;
    line-height: 1.7;
    margin-bottom: em(25);
  }

  blockquote {
    font-size: em(18);
    font-family: $font;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.02em;
    line-height: 1.7;
  }
}

.about-section {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background: #000;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 5;
  }

  .row {
    div[class*="col-"] {
      &:first-child {
        padding-right: 50px;

        * {
          color: #fff;
        }
      }

      &:nth-child(2) {
        padding-left: 50px;
      }
    }
  }
}

.our-products-section {
  @include background;

  h2 {
    color: #fff;
  }

  blockquote {
    color: #fff;
    margin-bottom: em(25);
  }

  .product-post {
    text-align: center;
    @include background;
    padding: em(35) em(30);
    position: relative;

    & * {
      position: relative;
      z-index: 5;
    }

    &:before {
      content: "";
      @include fullCover;
      background: rgba(#cfcfcf, 0.75);
      z-index: 1;
    }

    h3 {
      font-family: $headingFont;
      font-size: em(35);
      margin-bottom: em(8);
      line-height: 1.2;
    }

    .btn {
      width: 100%;
    }
  }
}

.our-location-section {
  position: relative;
  background: #000;

  h2 {
    color: #fff;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-bottom: em(15);
      position: relative;
      padding-left: em(50);
      color: #fff;
      font-size: em(14);
      text-transform: uppercase;
      letter-spacing: 0.02em;
      line-height: 1.6;

      i {
        position: absolute;
        top: 0;
        left: 0;

        &.map-marker {
          background: url("../images/location-icon.png") no-repeat;
          width: 23px;
          height: 32px;
          background-size: 100%;
        }

        &.calender-time {
          background: url("../images/calender-time-icon.png") no-repeat;
          width: 34px;
          height: 34px;
          background-size: 100%;
        }
      }
    }
  }

  .btn {
    margin-left: em(50);
    border: solid 2px #fff;
    margin-top: em(25);
  }

  .location-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 52%;

    #map,
    iframe {
      position: relative;
      height: 100%;
      width: 100%;
      display: block;
    }
  }
}

.footer-slider {
  padding: 0;

  .footer-slide-img {
    display: block !important;

    figure {
      @include background;
      height: 15vw;
    }
  }
}
/** Inner Pages **/
.inner-banner {
  @include background;
  height: 330px;

  .container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-family: $headingFont;
      font-size: em(42);
      letter-spacing: 0.05em;
      color: #fff;
      text-shadow: 0 0 24px rgba(0, 0, 0, 0.58);
      text-align: center;
      text-transform: capitalize;
    }
  }
}

.testimonial-section {
  background: #dddddd;

  h2 {
    text-align: center;
  }

  .testimonial-post {
    text-align: center;
    padding: 0 5%;

    p {
      font-weight: 400;
      font-style: italic;
      margin-bottom: em(25);
      color: #000;
      letter-spacing: 0.03em;
      line-height: 1.8;
    }

    h5 {
      display: inline-block;
      margin: 0 auto;
      font-family: $font;
      font-size: em(20);

      &:before {
        content: "";
        width: 15px;
        height: 2px;
        background: #000;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

  .slick-dots {
    text-align: center;
    margin-top: 25px;

    li {
      display: inline-block;
      font-size: 0;
      vertical-align: middle;

      button {
        background: #dddddd;
        border: solid 2px #000;
        width: 15px;
        height: 15px;
        font-size: 0;
        border-radius: 100%;
        padding: 0;
        margin: 0 4px;
        cursor: pointer;

        &:hover {
          background: #000;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      &.slick-active {
        button {
          background: #000;
        }
      }
    }
  }
}
/** About Page **/
.about-page {
  .about-post {
    figure {
      display: block;
      width: 100%;
      @include background;
      height: 12vw;
      min-height: 220px;
      position: relative;

      &:before {
        content: "";
        @include fullCover;
        background: rgba(#000, 0.80);
        z-index: 1;
        @include transition;
      }

      &:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border: solid 2px #fff;
        z-index: 2;
        @include transition;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: em(40);
        font-family: $headingFont;
        color: #fff;
        position: relative;
        z-index: 5;
        text-align: center;
        line-height: 1.2;
        padding: 30px 50px;
      }
    }

    &:hover {
      figure {
        &:before {
          background: rgba(#b5b9c0, 0.70);
        }

        a {
          color: #000;
        }
      }
    }
  }
}
/** About Page End **/
/** Contact Page **/
.contact-page {
  background: #e9e9e9;

  .contact-details {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        text-align: center;
        padding: 0 30px;
        margin-bottom: 15px;
        width: 100%;
        font-size: em(18);
        color: #000;

        a {
          color: #000;

          &:hover {
            color: #6a6c6f;
          }
        }

        span {
          @include circle(84px);
          background: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          margin: 0 auto 10px;

          .fa {
            font-size: 25px;

            &.fa-phone {
              font-size: 25px;
            }

            &.fa-map-marker {
              font-size: 32px;
            }
          }
        }
      }
    }
  }
}

.contact-form {
  .form-group {
    margin-bottom: 16px;

    .form-control {
      background: #fff;
      border: solid 1px #a1a1a1;
      padding: 2px 15px;
      box-shadow: none;
      border-radius: 0;
      font-size: em(16);
      height: 56px;
      letter-spacing: 0.03em;
    }

    textarea.form-control {
      height: 130px;
      resize: none;
      padding-top: 5px;
    }
  }

  .btn {
    width: 100%;
    font-size: 18px;
  }
}

.contact-map {
  padding: 0;
  width: 100%;
  height: 350px;
  display: block;

  #map,
  iframe {
    width: 100%;
    height: 100%;
    display: block;
  }
}
/** Contact Page End **/
/** Our Story Page **/

.our-story-page {
  article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    figure {
      width: 270px;
      @include background;
      min-height: 275px;
    }

    div {
      width: calc(100% - 290px);
      background: #dfdfdf;
      padding: em(20) em(30);

      h4 {
        font-family: $headingFont;
        font-size: em(24);
        color: #000;
        letter-spacing: 0.05em;
        margin-bottom: em(8);
      }

      p {
        font-size: em(12);
        margin-bottom: em(15);
        line-height: 1.5;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
/** Our Story Page End **/
/** Our Team Page **/

.our-team-page {
  background: #dddddd;
  position: relative;

  .our-team-img-left {
    @include background;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 48%;
  }
}
/** Our Team Page End **/
/** Our Values **/



.our-values-post {
  position: relative;
  padding-left: 100px;
  margin-bottom: em(40);

  figure {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80px;
  }

  h4 {
    font-size: em(24);
    color: #000;
    font-family: $headingFont;
    margin-bottom: em(8);
    letter-spacing: 0.02em;
  }

  p {
    font-size: 12px;
  }
}
/** Our Values End **/
/** My Favorites **/

.favorite-page {
  background: #ececec;

  h2 {
    margin-bottom: 35px;
  }

  article {
    position: relative;
    padding: 0 0 0 185px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    .close-fav {
      position: absolute;
      top: -8px;
      left: -13px;
      @include circle(30px);
      border: solid 2px #fff;
      background: #d3d3d3;
      text-align: center;
      color: #fff;

      &:focus,
      &:hover {
        color: #fff;
        background: #f00;
      }
    }

    figure {
      position: absolute;
      top: 6px;
      left: 0;
      width: 170px;
      height: 10vw;
      @include background;
    }

    h4 {
      font-size: em(20);
      color: #000;
      text-transform: capitalize;
      font-weight: 600;
      margin-bottom: 10px;
      letter-spacing: 0.03em;
    }

    h6 {
      font-size: 16px;
      color: #000;
      margin-bottom: 7px;
      letter-spacing: 0.03em;
    }

    p {
      font-size: 13px;
    }
  }
}
/** My Favorites End **/
/** Product Page **/

.product-top-text {
  p:last-of-type {
    margin-bottom: 0;
  }
}

.product-finder {
  background: #ececec;

  h2 {
    text-align: center;
  }

  .product-sidebar {
    display: block;

    .product-search {
      margin-bottom: 15px;

      form {
        position: relative;

        .form-group {
          margin-bottom: 0;
        }

        .form-control {
          width: 100%;
          border: solid 1px transparent;
          height: 32px;
          padding: 2px 10px;
          box-shadow: none;
          border-radius: 0;
          font-size: 14px;
          padding-right: 37px;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        .product-search-btn {
          background: transparent;
          width: 32px;
          height: 32px;
          top: 0;
          right: 0;
          box-shadow: none;
          border: none;
          padding: 0;
          position: absolute;
          line-height: 1;
          font-size: 14px;
          cursor: pointer;
          @include transition;

          &:focus,
          &:hover {
            background: #000;
            color: #fff;
            box-shadow: none;
            outline: none;
          }
        }
      }
    }

    article {
      display: block;
      margin-bottom: 15px;

      h3 {
        font-weight: 600;
        margin-bottom: em(8);
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin: 0 0 8px;
          position: relative;
          width: 100%;

          label {
            display: block;
            position: relative;
            padding-left: 20px;
            font-size: 14px;
            line-height: 1.3;
            font-weight: 400;
            letter-spacing: 0.02em;
            margin: 0;
            cursor: pointer;

            input[type="checkbox"] {
              display: none;
            }

            .custom-checkbox {
              width: 12px;
              height: 12px;
              border: solid 1px #cccccc;
              background: #fff;
              position: absolute;
              top: 2px;
              left: 0;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            input[type="checkbox"]:checked+span.custom-checkbox:after {
              content: "\f00c";
              font: normal normal normal 9px/1 FontAwesome;
              position: relative;
              left: 0.08em;
              top: -0.04em;
            }
          }
        }
      }
    }
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
  }

  .product-post {
    display: block;
    background: #fff;
    padding: 10px;
    width: 31.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;

    &:nth-child(3n) {
      margin-right: 0;
    }

    figure {
      width: 100%;
      @include background;
      height: 7vw;
      margin-bottom: 8px;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    h5 {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 8px;
    }

    .btn {
      width: 100%;
    }
  }

  .product-pagination {
    text-align: center;
    margin-top: 15px;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        vertical-align: top;
        margin: 0 4px;
        font-family: $headingFont;
        font-size: em(24);
        color: #000;

        a {
          color: #b5b9c0;

          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

.product-desc {
  background: #ececec;

  h3 {
    font-size: em(45);
    margin-bottom: 10px;
  }

  .product-img {
    width: 100%;
    height: 13vw;
    @include background;
    margin-bottom: 10px;
  }

  .product-detail-list {
    background: #f5f5f5;
    padding: 15px;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 5px;
        min-height: 22px;
        text-transform: uppercase;
        color: #000;
        font-size: 15px;

        img {
          position: absolute;
          top: 2px;
          left: 1px;
        }

        &:nth-child(2) {
          img {
            left: 4px;
          }
        }

        &:nth-child(3) {
          img {
            top: 3px;
          }
        }

        &:nth-child(4) {
          img {
            top: 5px;
          }
        }
      }
    }
  }
}

.product-about-section {
  &.gray-about {
    background: #ececec;
  }
}

.product-slider-section {
  article {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 25px;
    }
  }
}

.productSlider {
  margin-right: -10px;

  .product-item {
    padding-right: 10px;

    figure {
      display: block;
      width: 100%;
      @include background;
      height: 10vw;
      position: relative;
      @include media(desktop){
        height: 13vw;
      };

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: em(18);
        color: #fff;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        background: rgba(#000, 0.63);
        padding: 12px 10px;
        @include media(desktop){
          padding: 8px 10px;
          font-size: em(16);
        };
      }
    }
  }

  .slick-arrow {
    @include circle(40px);
    background: #000;
    color: #fff;
    font-size: 0;
    background: transparent;
    border: none;
    padding: 0;
    z-index: 5;
    box-shadow: none;
    position: absolute;
    top: 39%;
    transform: translateY(-50%);
    cursor: pointer;

    &.slick-prev {
      left: 15px;

      &:before {
        content: "\f137";
        font: normal normal normal 38px/1 FontAwesome;
        color: #000;
        @include media(desktop){
        font-size: 28px;
        };
      }
    }

    &.slick-next {
      right: 15px;

      &:before {
        content: "\f138";
        font: normal normal normal 38px/1 FontAwesome;
        color: #000;
        @include media(desktop){
        font-size: 28px;
        };
      }
    }

    &:focus,
    &:hover {
      outline: none;
      box-shadow: none;
      opacity: 0.8;
    }

    &:focus {
      opacity: 1;
    }
  }

  .slick-dots {
    text-align: center;

    li {
      display: inline-block;
      margin: 0 5px;

      button {
        width: 14px;
        height: 14px;
        border-radius: 100%;
        background: #fff;
        border: solid 2px #000;
        padding: 0;
        font-size: 0;
        cursor: pointer;

        &:focus,
        &:hover {
          background: #000;
          outline: none;
          box-shadow: none;
        }
      }

      &.slick-active {
        button {
          background: #000;
          outline: none;
        }
      }
    }
  }
}
/** Product Page End **/
/** Gallery Page **/

.gallery-page {
  .gallery-menu {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 10px;

      a {
        position: relative;
        border: solid 1px #cccccc;
        font-size: em(14);
        color: #000;
        letter-spacing: 0.02em;
        cursor: pointer;
        &:hover{
          background: #f00;
          border-color: #f00;
          color: #fff;
        }

        &.dropdown-toggle{
          padding-right: 50px;
          &:after {
            content: "\f107";
            font: normal normal normal 18px/1 FontAwesome;
            width: auto;
            height: auto;
            border: none;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
          }

        }


      }
      .dropdown-menu{
        padding: 0;
        border-radius: 0px;
        left: auto;
        right: 0;
        a{
          border:none;
          display: block;
          padding: 8px 15px;
          border-bottom: solid 1px #ccc;
          text-transform: capitalize;
        }
      }
    }
  }

  .items-wrapper {

    margin-right: -15px;
    .item {
      width: 33.33%;
      padding-right: 15px;
      margin-bottom: 15px;

      &:nth-child(3) {
        margin-right: 0;
      }

      figure {
        width: 100%;
        height: 280px;
        @include background;
      }
    }
  }
}
/** Gallery Page End **/
/** Inner Pages End **/
@import 'footer';
